:root {
  --red-color: red;
  --pink-color: pink;
  --skyblue-color: skyblue;
}

body {
  background: rgb(232, 234, 235);
}

h1 {
  font-size: 1.5em;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.25em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.red {
  background: var(--pink-color);
  color: var(--red-color);
}

span.unicode:after {
  content: "\2193";
}

.bg-image-container div {
  display: inline-block;
}

.bg-image{
  background-image: url('images/x-wing.png');
  background-size: 75px;
  height: 75px;
  width: 75px;
}

.editor-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.editor {
  border: 1px solid black;
  padding: 0 10px;
  margin-top: 5px;
  resize: both;
  overflow: auto;
  height: 150px;
  width: 400px;
  background: white;
}

@media screen and (min-width: 20px) {
  .r2d2 {
      background: url(images/r2d2.png) center bottom / cover no-repeat;
      position: relative;
      height: 100px;
      width: 75px;
  }
}

.form-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;

  width: 400px;
}

.form-container label {
  font-weight: bold;  
}

.form-actions {
  text-align: right;
  margin-top: 10px;
  width: 400px;
}

.images-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.images-container label {
  font-weight: bold;
}

.background-svg {
  background: var(--skyblue-color) url(images/cloud.svg) no-repeat center center / cover; 
  width: 75px; 
  height: 75px;
}
