:root {
  --red-color: red;
  --pink-color: pink;
}

body {
  background: lightblue;
}

.red {
  background: var(--pink-color);
  color: var(--red-color);
}

span.unicode:after {
  content: "\2193";
}

.bg-image-container div {
  display: inline-block;
}

.bg-image{
  background-image: url('x-wing.png');
  background-size: 75px;
  height: 75px;
  width: 75px;
}

@media screen and (min-width: 20px) {
  .r2d2 {
      background: url(r2d2.png) center bottom / cover no-repeat;
      position: relative;
      height: 100px;
      width: 75px;
  }
}
