:root {
  --red-color: red;
  --pink-color: pink;
}

body {
  background: lightblue;
}

.bg-image{
  background-image: url('x-wing.png');
  height: 150px;
  width: 150px;
}

.red {
  background: var(--pink-color);
  color: var(--red-color);
}

@media screen and (min-width: 20px) {
  .r2d2 {
      background: url(r2d2.png) center bottom / cover no-repeat;
      position: relative;
      height: 150px;
      width: 110px;
  }
}
